<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notika">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewNote">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.notika.MainActivity" />
        </activity>


        <activity android:name=".SettingsActivity" />
        <activity android:name=".UploadImageActivity"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddNoteActivity"
            android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.notika.MainActivity" />
        </activity>


        <activity android:name=".MainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>